<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>JuKi Hamm</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css?v=cbc50d641af7da98ab313c791b5e9b19">
    </head>
    <body>
        <div class="container" id="app" v-cloak>
            <div class="row">
                <div class="col-sm-3 vertical-center logo">
                    <picture>
                        <source media="(max-width: 575px)" srcset="img/juki-logo-horizontal.jpg">
                        <source media="(min-width: 576px)" srcset="img/juki-logo-vertikal.jpg">
                        <img src="img/juki-logo-horizontal.jpg" @click="switchView($event, '')" :class="{pointer: !views.main}">
                    </picture>
                </div>
                <div class="col-sm-9 vertical-center content">
                    <div>
                        <a class="btn btn-link" href="#" @click="switchView($event, '')" v-if="!views.main">&laquo; Zurück zur Startseite</a>
                        <div v-if="views.main" class="view main">
                            <a class="btn btn-secondary" role="button" href="https://www.ev-jugend-hamm.de/jugendkirche/"><i class="fa fa-church"></i> Jugendkirche Hamm</a>
                            <a class="btn btn-info" role="button" href="#calendar"><i class="fa fa-calendar-alt"></i> Die nächsten Termine</a>
                            <a class="btn btn-success" role="button" href="#whatsapp"><i class="fab fa-whatsapp"></i> WhatsApp Newsletter</a>
                            <a class="btn btn-primary" role="button" href="https://www.ev-jugend-hamm.de/jugendreferat/jugendkirche-2/"><i class="fa fa-hands-helping"></i> Ansprechpartner</a>
                            <a class="btn custom-btn-facebook" role="button" href="https://www.facebook.com/JugendkircheHamm/"><i class="fab fa-facebook-f"></i> Facebook</a>
                            <a class="btn custom-btn-instagram" role="button" href="https://www.instagram.com/evjugend/"><i class="fab fa-instagram"></i> Instagram</a>
                        </div>
                        <div v-if="views.whatsapp" id="whatsapp" class="view whatsapp">
                            <p>Du willst immer und überall wissen, was als nächstes in der Jugendkirche ansteht?
                                Dann abonniere unseren WhatsApp-Newsletter und erhalte regelmäßig aktuelle Infos!</p>
                            <p>Sende uns einfach eine WhatsApp-Nachricht an die folgende Handynummer:</p>
                            <h4 class="font-weight-bold"><a href="tel:+491637921747">0163 792 1747</a></h4>
                        </div>
                        <div v-if="views.calendar" id="calendar" class="view calendar">
                            <div class="recurringEvents">
                                <div class="card text-center" v-for="event in calendar.recurringEvents">
                                    <div class="card-body">
                                        <h5 class="card-title">{{event.title}}</h5>
                                        <p class="card-text">{{event.description}}</p>
                                    </div>
                                    <div class="card-footer text-muted"> mit {{event.responsible}}</div>
                                </div>
                            </div>
                            <div class="oneTimeEvents">
                                <div class="card text-center" v-if="calendar.oneTimeEvents.length === 0">
                                    <div class="card-body">
                                        <h2 class="card-text text-bold"><i class="fas fa-spinner fa-spin"></i></h2>
                                    </div>
                                </div>
                                <div class="card text-center" v-for="event in calendar.oneTimeEvents">
                                    <div class="card-body">
                                        <h5 class="card-title">{{event.title}}</h5>
                                        <p class="card-text"><img class="pointer" :src="event.image" data-toggle="modal" :data-target="'#modal-'+event.id"></p>
                                    </div>
                                    <div class="modal" :id="'modal-'+event.id" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">{{event.title}}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img :src="event.image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
        <script src="script.js?v=c56a0d47079d87ffcfe992515eaf8561"></script>
    </body>
</html>