[v-cloak] {
    display: none;
}

.pointer {
    cursor: pointer;
}

@media (min-width: 576px) {
    .vertical-center {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .logo {
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

@media (max-width: 575px) {
    .logo img {
        margin-top: 10px;
        padding: 0 20px;
    }
}

.container {
    max-width: 500px;
}

.logo img {
    width: 100%;
}

.content {
    padding: 30px;
    text-align: center;
}

.content a {
    display: block;
    margin-bottom: 10px;
}

.content a i {
    margin-right: 5px;
}

#calendar .card {
    margin-bottom: 30px;
}

/** custom button shadows: inactive background color made 15% darker using https://pinetools.com/darken-color **/
.custom-btn-facebook, .custom-btn-facebook:hover, .custom-btn-facebook:active, .custom-btn-facebook:visited {
    background-color: #3b5998 !important;
    color: white !important;
}

.custom-btn-facebook:focus, .custom-btn-facebook.focus {
    box-shadow: 0 0 0 0.2rem rgba(42, 63, 109, 0.25) !important;
    color: white !important;
}

.custom-btn-instagram, .custom-btn-instagram:hover, .custom-btn-instagram:active, .custom-btn-instagram:visited {
    background-color: #bc2a8d !important;
    color: white !important;
}

.custom-btn-instagram:focus, .custom-btn-instagram.focus {
    box-shadow: 0 0 0 0.2rem rgba(159, 35, 119, 0.25) !important;
}